@{
    ViewData["Title"] = "Home Page";

}

<div class="row glass-style">
    <div class="col-12 col-md-6">
        <!--App Details-->
    </div>
    <div class="col-12 col-md-6 order-first order-md-last">
        <!--Logo for App Goes here-->
    </div>
</div>
